<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209398921538-2g26rpk2ei8g5hgm73912ahn1urllibl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209398921538-2g26rpk2ei8g5hgm73912ahn1urllibl</string>
	<key>API_KEY</key>
	<string>AIzaSyD7fICWqkXZj2hk575kFpi3meyl5aZbAFA</string>
	<key>GCM_SENDER_ID</key>
	<string>209398921538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.example</string>
	<key>PROJECT_ID</key>
	<string>paromera-188017</string>
	<key>STORAGE_BUCKET</key>
	<string>paromera-188017.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209398921538:ios:5faf777fea325aa7f6b0db</string>
	<key>DATABASE_URL</key>
	<string>https://paromera-188017.firebaseio.com</string>
</dict>
</plist>